#projects {
	text-align: center;
}

li {
	width: 25%;
	padding: 50px;
}

.image-wrap {
	position: relative;
	display: grid;
	height: 100%;
	width: 100%;
}

.hover {
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
}

.image-wrap:hover .hover {
	visibility: visible;
	opacity: 1;
}

.rep-image {
	max-width: 100%;
	max-height: 100vw;
	margin: auto;
	object-fit: cover;
}

.rep-hover-image {
	position: absolute;
	top: 0;
	left: 0;
}