#projects {
	text-align: center;
}

.image-wrap {
	position: relative;
	display: grid;
	height: 100%;
}

.image-description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(36, 36, 36, 0.7);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: opacity .2s, visibility .2s;
}

.image-wrap:hover .image-description {
	visibility: visible;
	opacity: 1;
}

.image {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}