<div id="content-container"> 
	<h2>{{project.name}}</h2>

	<!-- layout for mobile or if the screen width is too small -->
	<div *ngIf="!isWidescreen">
		<ul> 
			<li *ngFor="let content of project.arrangedContent">
				<div *ngIf="isImage(content)">
					<img src="{{content.loc}}{{content.fname}}" class="image" />
				</div>
				<div *ngIf="!isImage(content)">
					<p class="blurb">{{content}}</p>
				</div>
			</li>
		</ul>
		<a routerLink="/projects">back</a>
	</div>

	<!-- layout for widescreen/desktop -->
	<div *ngIf="isWidescreen">
		<div id="imageContent">
			<ul> 
				<li *ngFor="let image of separatedContent.images">
					<img src="{{image.loc}}{{image.fname}}" class="image" />
				</li>
			</ul>
		</div>
		<div id="blurbContent">
			<ul> 
				<li *ngFor="let blurb of separatedContent.blurbs">
					<p>{{blurb}}</p>
				</li>
			</ul>
		</div>
	</div>

</div>