<div *ngIf="project" id="content-container"> 
	<h2>{{project.name}}</h2>

	<!-- layout for mobile or if the screen width is too small -->
	<div *ngIf="!isWidescreen">
		<ul> 
			<li *ngFor="let content of project.arrangedContent">
				<div *ngIf="isImg(content)">
					<img src="{{content.loc}}{{content.fname}}" class="image" />
				</div>
				<div *ngIf="isBlurb(content)">
					<p class="blurb">{{content}}</p>
				</div>
				<div *ngIf="isImageList(content)">
					<app-splash [content]="content" [useAutoScroll]="false" [useSideButtons]="true" [useWideContent]="true"></app-splash>
				</div>
			</li>
		</ul>
	</div>

	<!-- layout for widescreen/desktop -->
	<div *ngIf="isWidescreen" id="widescreen-view">
		<div id="imageContent">
			<ul> 
				<li *ngFor="let content of separatedContent.images">
					<div *ngIf="isImg(content)">
						<img src="{{content.loc}}{{content.fname}}" class="image" />
					</div>
					<div *ngIf="isImageList(content)">
						<app-splash [content]="content" [useAutoScroll]="false" [useSideButtons]="true" [useWideContent]="true"></app-splash>
					</div>
				</li>
			</ul>
		</div>
		<div id="blurbContent">
			<ul> 
				<li *ngFor="let blurb of separatedContent.blurbs">
					<p>{{blurb}}</p>
				</li>
			</ul>
		</div>
	</div>

</div>