#content-container {
	text-align: center;
}

.blurb {
	text-align: left;
	width: 75%;
	margin-left: 12%;
}

.image {
	max-width: 95%;
	max-height: 95vh;
	margin: auto;
}

li {
	display: block;
}

#imageContent {
	width: 67%;
	float: right;
}

#blurbContent {
	float: left;
	width: 25%;
	text-align: left;
}

#widescreen-view {
	margin: 0 5% 0 5%;
}