.small-slide-container {
	height: auto;
	/*temporary use 58% for the missized images*/	
	width: 58%;
	/*width: 75%;*/
	overflow: hidden;
	margin: 0 auto;
}

.wide-slide-container {
	height: auto;
	width: 95%;
	overflow: hidden;
	margin: 0 auto;
}

.mobile-slide-container {
	height: auto;
	width: 90%;
	overflow: hidden;
	margin: 0 auto;
}

#slide-images { 
	transition: all 1s ease-in-out;
}

/*I absolutely despise this solution - I don't know of a way to get attribute value as a variable to use in styling*/

div[data-img-count="1"] {
	width: calc(1 * 100% + 1px);
}

div[data-img-count="2"] {
	width: calc(2 * 100% + 1px);
}

div[data-img-count="3"] {
	width: calc(3 * 100% + 1px);
}

div[data-img-count="4"] {
	width: calc(4 * 100% + 1px);
}

div[data-img-count="5"] {
	width: calc(5 * 100% + 1px);
}

div[data-img-count="6"] {
	width: calc(6 * 100% + 1px);
}

div[data-img-count="7"] {
	width: calc(7 * 100% + 1px);
}

div[data-img-count="8"] {
	width: calc(8 * 100% + 1px);
}

div[data-img-count="9"] {
	width: calc(9 * 100% + 1px);
}

div[data-img-count="10"] {
	width: calc(10 * 100% + 1px);
}

img[data-img-count="1"] {
	margin: auto;
	float: left;
	height: auto;
	width: calc(100% / 1); 
}

img[data-img-count="2"] {
	margin: auto;
	float: left;
	height: auto;
	width: calc(100% / 2); 
}

img[data-img-count="3"] {
	margin: auto;
	float: left;
	height: auto;
	width: calc(100% / 3); 
}

img[data-img-count="4"] {
	margin: auto;
	float: left;
	height: auto;
	width: calc(100% / 4); 
}

img[data-img-count="5"] {
	margin: auto;
	float: left;
	height: auto;
	width: calc(100% / 5); 
}

img[data-img-count="6"] {
	margin: auto;
	float: left;
	height: auto;
	width: calc(100% / 6); 
}

img[data-img-count="7"] {
	margin: auto;
	float: left;
	height: auto;
	width: calc(100% / 7); 
}

img[data-img-count="8"] {
	margin: auto;
	float: left;
	height: auto;
	width: calc(100% / 8); 
}

img[data-img-count="9"] {
	margin: auto;
	float: left;
	height: auto;
	width: calc(100% / 9); 
}

img[data-img-count="10"] {
	margin: auto;
	float: left;
	height: auto;
	width: calc(100% / 10); 
}

.small-left-button {
	position: absolute;
	left: calc(12.5% - 20px);
	top: calc(50% - 10px);
}

.wide-left-button {
	position: absolute;
	left: 2.5%;
	top: 0px;
	height: 100%;
	width: 40px;
}

.wide-left-button svg {
	position: absolute;
	top: calc(50% - 15px);
	left: 0;
}	

.small-right-button {
	position: absolute;
	left: 87.5%;
	top: calc(50% - 10px);
}

.wide-right-button {
	position: absolute;
	left: calc(97.5% - 40px);
	top: 0px;
	height: 100%;
	width: 40px;
}

.wide-right-button svg {
	position: absolute;
	top: calc(50% - 15px);
	left: 0;
}	

#splash {
	text-align: center;
	position: relative;
}

.button:hover {
	cursor: pointer;
	opacity: 75%;
	background-color: #FFFFFF
}

.button {
	z-index: 999;
}