#titlebar {
	position: fixed;
	left: 0;
	top: 0;
	background: #F9F9F9;
	opacity: 95%;
	height: 63px;
	width: 100%;
	z-index: 1000;
	border-bottom: 1px solid #F9F9F9;
}

#title {
	margin: 10px;
	padding: 0;
	display: inline-flex;
}

h1 {
	color: #000;
}

#first-title {
	font-family: helvetica-neue-47, Helvetica, Arial, sans-serif;
}

app-menu {
	margin: 15px;
	display: inline;
	float: right;
}

#router-outlet {
	margin-top: 83px;
	margin-bottom: 50px;
}