/* Application-wide Styles */
h1 {
  color: #369;
  font-family: helvetica-neue-67, Helvetica, Arial, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: helvetica-neue-67, Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}

/* everywhere else */
* {
  font-family: helvetica-neue-67, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  display: inline-block;
  padding: 2px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: helvetica-neue-47;
  src: url('/assets/fonts/HelveticaNeueLTStd47LtCn.otf');
}

@font-face {
  font-family: helvetica-neue-67;
  src: url('/assets/fonts/HelveticaNeueLTPro67MdCn.otf');
}

@font-face {
  font-family: helvetica-neue-77;
  src: url('/assets/fonts/HelveticaNeueLTPro77BdCn.otf');
}